<div class="container">
    <div class="row">
        <div class="col-md-12" id="title">
            <h1>EAT DA BURGER!</h1>
        </div>
        <div class="col-md-6" class="task">
            <div class="row">
                {{#each data}} 
                {{#unless this.devoured}}
                <div class="col-md-8">
                    <pre>{{this.id}}. {{this.name}}</pre>
                </div>
                <div class="col-md-4">
                    <form method="POST" action="/burgers/update?_method=PUT" class="devourButton">
                        <input type="hidden" name="id" type="text" value={{this.id}}>
                        <button type="submit" class="btn btn-default">Devour</button>
                    </form>
                </div>
                {{/unless}} 
                {{/each}}
            </div>
        </div>
        <div class="col-md-6" class="task">
        	{{#each data}}
        		{{#if this.devoured}}
        			<input class="form-control" type="text" placeholder="{{this.id}}. {{this.name}}" readonly>
        		{{/if}}
        	{{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12" enter_section">
            <form method="POST" action="/burgers/create">
                <input type="text" name="name" class="form-control" id="enter_id" value="">
                <button type="submit" class="btn btn-primary" id="id_entered">Enter</button>
            </form>
            <p>Enter your burger: </p>
        </div>        	
    </div>
</div>